body {
  padding: 50px;
  /*background: #000000;*/
  background: #FFFFFF;
  font: 14px "Proxima Nova Bold","Helvetica Neue",Arial,Helvetica,sans-serif;
}

a {
  color: #00B7FF;
}

#document {
  color: #00B7FF;
}
 

#urls {
  background: #FFFFFF;
}
