doctype 5
html(lang="en")
  head
    title= title
    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js")
    script(type='text/javascript', src="/javascripts/raphael-min.js")
    script(type='text/javascript', src="/javascripts/g.raphael-min.js")
    script(type='text/javascript', src="/javascripts/g.pie-min.js")
    script(type='text/javascript', src="/javascripts/g.dot-min.js")
    script(type='text/javascript', src="/javascripts/d3.v2.min.js")



  body
    h1 Topic Visualization
    #urls 
    script(type='text/javascript', src="/javascripts/get-data.js")
    

  
